* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color-primary: #0D0D0D;
  --font-color-secondary: #595959;
  --color-primary: #44AA71;
  --color-primary-accent: hsl(146, 43%, 35%);
  --color-light-gray: #f5f5f5;
  --color-gray: #dedede;
  --color-background: #ffffff;
  --color-background-page: #fdfdfd;
}

html {
  font-family: 'Inter', sans-serif;
  color: var(--font-color-primary);
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--color-background-page);
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover, a:focus {
  color: var(--color-primary-accent);
}

.hero {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 0.5rem;
  padding: 0.5rem 4.8rem;
  margin: 0 auto;
}

.hero-details {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.hero-title {
  font-size: 6.4rem;
  letter-spacing: -3px;
  font-weight: 700;
}

.hero-description {
  font-size: 2.0rem;
  line-height: 1.8;
  letter-spacing: 0.5px;
  color: var(--font-color-secondary);
}

.hero-image {
  width: 90%;
}

.posts-header {
  font-size: 3.6rem;
}

.posts {
  padding: 0 4.8rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2.4rem;
}

.posts-wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 2.4rem;
}

.post-card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background: var(--color-background);
  border-radius: 2.4rem;
  padding: 2.4rem;
  width: 35rem;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.08);
}

.post-image {
  width: 100%;
  border-radius: 2.4rem;
  height: 20rem;
  object-fit: cover;
}

.post-title {
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-primary);
}

.post-title:hover, .post-title:focus {
  color: var(--color-primary-accent);
}

.post-date {
  color: var(--font-color-secondary);
  font-size: 1.4rem;
}

.post-description {
  line-height: 1.4;
}
